<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socket-IO</title>
</head>
<body>
  <form id="chat-form" action="">
    <input type="text" id="message" autocomplete="false">
    <button>Send message</button>
  </form>
  <ul id="message-list"></ul>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    
    let socket = io()
    
    const $ = (selector) => document.querySelector(selector)

    const chatForm = $('#chat-form')
    const chatMessage = $('#message-list')
    const inputMessage = $('#chat-form #message')

    chatForm.addEventListener('submit', (e) => {
      e.preventDefault()
      socket.emit('send message', inputMessage.value)
      inputMessage.value = ''
      return false
    })

    socket.on('send message', (message) => {
      chatMessage.innerHTML = chatMessage.innerHTML + `<li>${message}</li>`
    })

  </script>
</body>
</html>